<!--begin::Statistics Widget 5-->
<a href="#" class="card bg-dark hoverable card-xl-stretch mb-5 mb-xl-8">
    <!--begin::Body-->
    <div class="card-body">
        <!--begin::Svg Icon | path: icons/duotune/arrows/arr070.svg-->
<span class="svg-icon svg-icon-gray-100 svg-icon-3x ms-n1"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="8" y="9" width="3" height="10" rx="1.5" fill="currentColor"/>
<rect opacity="0.5" x="13" y="5" width="3" height="14" rx="1.5" fill="currentColor"/>
<rect x="18" y="11" width="3" height="8" rx="1.5" fill="currentColor"/>
<rect x="3" y="13" width="3" height="6" rx="1.5" fill="currentColor"/>
</svg>
</span>
<!--end::Svg Icon-->
        <div class="text-gray-100 fw-bold fs-2 mb-2 mt-5">
            Sales Stats
        </div>
        <div class="fw-semibold text-gray-100">
           50% Increased for FY20        </div>
    </div>
    <!--end::Body-->
</a>
<!--end::Statistics Widget 5-->